# This file is centrally managed in https://github.com/wellenplan/.github/
# Don't make changes to this file in this repo as they will be overwritten with changes made to the same file in above mentioned repo

.DS_Store
node_modules
dist